:root {
    --main-color: #19c8fa;
    --transparent-color: rgb(15 116 143 / 70%);
    --section-padding: 100px;
}
* {
    margin: 0;
}


html {
        font-size: 62.5%;
        scroll-behavior: smooth;
        scroll-padding-top: 5rem;
        overflow-x: hidden;
    }

body {
    font-family: "Open Sans", sans-serif;
    background: #000;
}
.home {
    padding: 5rem 9%;
}

/* End Global Rules */
/* Start Header */
.header {
    position: fixed;
    z-index: 1000;
    width: 100%;
    margin-top: -12px;
    background-image: url(../les_images/istockphoto-1337977426-170667a.jpg);
background-repeat: repeat-x;

}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px;
    z-index: 1000;
}
.header .containerin {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
}



.header .logo img {
    height: 40px;
}

.header .nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/**/.header .toggle-menu {
    color: white;
        font-size: 22px;
}

@media (min-width: 768px) {
    .header .toggle-menu {
        display: none;
    }

}

.header .nav a {
    display: inline-block;
    padding: 1.5rem 2rem;
    font-size: 1.7rem;
    color: #fff;
    text-decoration: none;
}

@media (max-width: 767px) {
.header .nav{
        display: none;
    }
.header .nav.active{
    display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgb(0 0 0 / 80%);
    }

.header .navbar a {
    display: block;
    font-size: 2rem;
}
}

.header .nav a {
    padding: 40px 10px;
    display: block;
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
    position: relative;
    z-index: 2;
}

.header .nav a.active,
.header .nav a:hover {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

.header .form {
    width: 40px;
    height: 30px;
    position: relative;
    margin-left: 30px;
    border-left: 1px solid white;
}

.header .form i {
    color: white;
    position: absolute;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

/* End Header */
/* start form*/
.formpai{
    padding-top: 150px;
    background: #EEE;
    padding-bottom: 10px;
}
h2 {
    top: -37px !important;
    position: relative;
    top: 130px;
    text-align: center;
    margin: auto 15%;
    border: 1px solid black;
    color: #0606cb;
}

input{
    width: 300px;
    box-sizing: border-box;
    border-bottom: 3px solid blue;
}
@media (min-width: 768px) {
        #mois{
                width: 170px;
        }
}
input:focus{
    border-bottom-color:green;
}
.formpai div+div{
    margin-top: 40px;
}
label{
    display: inline-block;
    width: 171px;
    font-size: 20px;
font-style: italic;
font-weight: bold;
}
.btnE {
    display: inline-block;
    background-color: blue;
    border: 1px solid black;
    color: #ffffff;
    border-radius: 10px;
    width: 150px;
    margin-left: 6%;
}

.btnA {
    display: inline-block;
    background-color: red;
    border: 1px solid black;
    color: #ffffff;
    border-radius: 10px;
    width: 150px;
    margin-left: 45%;
}

@media(max-width: 767px) {
    .btnA {
        margin-left: 0;
    }
}
/* End form */
/* start footer*/
.footer .box-container {

    display: grid;
    -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box h3 {
    font-size: 2.2rem;
    color: #fff;
    padding: 1rem 0;
    text-decoration: underline;
}

.footer .box-container .box .links {
    font-size: 1.5rem;
    display: block;
    color: #aaa;
    padding: 1rem 0;
}

.footer .box-container .box .links:hover {
    color: var(--main-color);
}

.footer .box-container .box p {
    font-size: 1.5rem;
    color: #aaa;
    padding: 1rem 0;
}

.footer .box-container .box p i {
    padding-right: .5rem;
    color: var(--main-color);
}

.footer .box-container .box .share {
    padding: 1rem 0;
}

.footer .box-container .box .share a {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    font-size: 1.7rem;
    color: #fff;
    background: #111;
    border-radius: 50%;
    margin-right: .5rem;
    text-align: center;
}

.footer .box-container .box .share a:hover {
    background: var(--main-color);
}

.footer .box-container .box form .email {
    margin-bottom: 1rem;
    width: 100%;
    background: #111;
    padding: 1.2rem;
    font-size: 1.5rem;
    color: #fff;
    text-transform: none;
}

.credit {
    display: block;
    font-size: 2rem;
    text-align: center;
    padding: 2rem;
    color: #fff;
    background: #111;
    line-height: 1.5;
    bottom: 0px;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 2.8rem;
    padding-right: 3rem;
    background: linear-gradient(130deg, var(--main-color), 93%, transparent 90%);
    color: #fff;
    cursor: pointer;
    font-size: 1.7rem;
}

.credit span {
    color: var(--main-color);
}